@font-face {
    font-family: 'Yantramanap';
    src: 
    url('../../fonts/Yantramanav/Yantramanav-Regular.ttf') format('truetype'),
    // url('../../fonts/AIAEverest-Regular.woff2') format('woff2'),
        // url('../../fonts/AIAEverest-Regular.woff') format('woff'),
        // url('../../fonts/AIAEverest-Regular.svg#AIAEverest-Regular') format('svg')
        ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Yantramanap';
    src: 
    url('../../fonts/Yantramanav/Yantramanav-Black.ttf') format('truetype'),
    // url('../../fonts/AIAEverest-Regular.woff2') format('woff2'),
        // url('../../fonts/AIAEverest-Regular.woff') format('woff'),
        // url('../../fonts/AIAEverest-Regular.svg#AIAEverest-Regular') format('svg')
        ;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Yantramanap';
    src: 
    url('../../fonts/Yantramanav/Yantramanav-Medium.ttf') format('truetype'),
    // url('../../fonts/AIAEverest-Regular.woff2') format('woff2'),
        // url('../../fonts/AIAEverest-Regular.woff') format('woff'),
        // url('../../fonts/AIAEverest-Regular.svg#AIAEverest-Regular') format('svg')
        ;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Yantramanap';
    src: 
    url('../../fonts/Yantramanav/Yantramanav-Light.ttf') format('truetype'),
    // url('../../fonts/AIAEverest-Regular.woff2') format('woff2'),
        // url('../../fonts/AIAEverest-Regular.woff') format('woff'),
        // url('../../fonts/AIAEverest-Regular.svg#AIAEverest-Regular') format('svg')
        ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  

@font-face {
    font-family: 'Yantramanap';
    src: 
    url('../../fonts/Yantramanav/Yantramanav-Thin.ttf') format('truetype'),
    // url('../../fonts/AIAEverest-Regular.woff2') format('woff2'),
        // url('../../fonts/AIAEverest-Regular.woff') format('woff'),
        // url('../../fonts/AIAEverest-Regular.svg#AIAEverest-Regular') format('svg')
        ;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  