<nav class="navbar navbar-fixed" id="navbar">
    <div class="app-container navbar-container">
        <a href="index.html" class="brand">
            <img
                class="brand__logo brand__logo--aia"
                src="img/logo_psb.png"
                alt="PSB - Logo"/>
        </a>
        <!-- <div class="hamburger-box">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
        <div class="navbar__navs">
            <ul class="nav">
                <li id="link-home" class="nav__item ">
                    <a  class="nav__link " href="/" >
                        #Home
                    </a>
                </li>
                <li id="link-pendaftaran" class="nav__item">
                    <a  class="nav__link" href="info-pendaftaran.html" >
                        Info Pendaftaran
                    </a>
                </li>
                <li id="link-panduan" class="nav__item">
                    <a  class="nav__link" href="#keunggulan" >
                        Info Panduan
                    </a>
                </li>
                <li id="link-biayaPendidikan" class="nav__item">
                    <a   class="nav__link" href="form-biayapendidikan.html" >
                        Biaya Pendidikan
                    </a>
                </li>
                
            </ul>
            <a href="register.html" class="btn btn--primary">
                Daftar Sekarang
            </a>
            <!-- &nbsp; | &nbsp;
            <a href="login.html" class="btn--secondary">Login</a> -->

        </div>
    </div>
    
</nav>

<div id="menu-mobile" class="menu-mobile">
    <div class="app-container">

    <ul class="nav">
        <li id="link-mobile-home" class="nav__item ">
            <a  class="nav__link " href="/" >
                #Home
            </a>
        </li>
        <li id="link-mobile-pendaftaran" class="nav__item">
            <a  class="nav__link" href="info-pendaftaran.html" >
                Info Pendaftaran
            </a>
        </li>
        <li id="link-mobile-panduan" class="nav__item">
            <a  class="nav__link" href="#keunggulan" >
                Info Panduan
            </a>
        </li>
        <li id="link-mobile-biayaPendidikan" class="nav__item">
            <a   class="nav__link" href="form-biayapendidikan.html" >
                Biaya Pendidikan
            </a>
        </li>
        
    </ul>
    <a href="register.html" class="btn--primary">
        Daftar Sekarang
    </a>
   
    <a href="login.html" class="btn--secondary">Login</a>
</div>

</div>