{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block content %}
    <main class="page">
        <section class="biaya__pendidikan">
            <div class="app-container">
                <h1 class="title-content">
                    Biaya
                    <br>
                    <span>Pendidikan</span>
                </h1>
                <div class="wrapper__button">

                    <a href="" class="btn--download">
                        <i class="fas fa-download fa-1x"></i>
                        Download
                    </a>

                </div>

                <div class="wrapper__table">

                    <div class="swiper-container-price">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="card__title-price">
                                    <h3 class="title">
                                        RINCIAN
                                    </h3>

                                    <div class="wrapper__item">
                                        <span class="item">Pengembangan Sarana & Prasarana</span>
                                        <span class="item">Pengembangan Lembaga & SDM</span>
                                        <span class="item">Kegiatan Tahunan</span>
                                        <span class="item">Seragam</span>
                                        <span class="item">Buku Paket & Modul</span>
                                        <span class="item">Orientasi & I'dad</span>
                                        <span class="item">SPP (Bulanan)</span>
                                        <span class="item">Uang Makan & Asrama (Bulanan)</span>
                                        <span class="item">Iuran Komite (Setahun)</span>
                                        <h3>TOTAL</h3>

                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card__price">
                                    <h3 class="title">
                                        IKHWAN
                                    </h3>
                                    <div class="wrapper__item">
                                        <span class="item">
                                            8.500.000,-</span>
                                        <span class="item">
                                            3.500.000,-</span>
                                        <span class="item">
                                            2.000.000,-</span>
                                        <span class="item">
                                            970.000,-</span>
                                        <span class="item">
                                            920.000,-</span>
                                        <span class="item">
                                            800.000,-</span>
                                        <span class="item">
                                            1.100.000,-</span>
                                        <span class="item">
                                            650.000,-</span>
                                        <span class="item">
                                            300.000,-</span>
                                        <h3>
                                            18.740.000,-</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="card__price">
                                    <h3 class="title">
                                        AKHWAT
                                    </h3>
                                    <div class="wrapper__item">
                                        <span class="item">
                                            8.500.000,-</span>
                                        <span class="item">
                                            3.500.000,-</span>
                                        <span class="item">
                                            2.000.000,-</span>
                                        <span class="item">
                                            1.180.000,-</span>
                                        <span class="item">
                                            920.000,-</span>
                                        <span class="item">
                                            800.000,-</span>
                                        <span class="item">
                                            1.100.000,-</span>
                                        <span class="item">
                                            650.000,-</span>
                                        <span class="item">
                                            300.000,-</span>
                                        <h3>
                                            18.950.000,-</h3>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="wrapper__pagination">
                            <div class="swiper-button-prev-price">
                                <i class="fas fa-angle-left fa-lg"></i>
                            </div>

                            <div class="swiper-pagination-price"></div>

                          
                            <div class="swiper-button-next-price">
                                <i class="fas fa-angle-right fa-lg"></i>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block scripts %}{% endblock %}