{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block content %}

    <main class="page">
        <section class="form-biaya">
            <div class="app-container">
                <h1 class="form-biaya__title">
                    Biaya
                    <span>
                        Pendidikan
                    </span>
                </h1>
                <div class="form-biaya__wrapper">
                    <p>Silahkan isi formulir terlebih dahulu </p>
                    <div class="form-group">
                        <label class="form--label">Nama</label>
                        <input class="form--psb" type="text" placeholder="Masukan Nama Lengkap">
                    </div>
                    <div class="form-group">
                        <label class="form--label">Nomor Whatsapp</label>
                        <input class="form--psb" type="number" placeholder="Masukan Nomor Telepon">
                    </div>

                    <button class="btn--primary">
                        Submit
                    </button>
                </div>

            </div>
        </section>
    </main>

{% endblock %}

{% block scripts %}{% endblock %}