{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block content %}
    <main>

        <section class="section__home">
            <div class="container">
                <div class="section__home--wrapper--title">
                    <h1 class="section__home--title">
                        <span>
                            We're
                        </span>
                        <span>TRYS</span><span>.</span>
                        <br/>
                        <span>
                            Digital
                        </span>
                        <span>
                            is
                        </span>
                        <span>
                            Our
                        </span>
                        <span>
                            Turf.
                        </span>
                    </h1>
                </div>
                <p class="section__home--desc">
                    <span></span>
                    THE BEST DIGITAL CUSTOMER SERVICE 2019
                    <span>(IN AUTOMOTIVE INDUSTRY)</span>
                </p>
            </div>
        </section>

        <div class="section__projects">
            <div class="container">
                <div class="section__projects--wrapper">
                    <h1 class="section__projects--title">
                        PROJECTS
                    </h1>
                    <p>Strong work ethics lead to exellence. Hence, we adopt an
                        <br>
                        ownership mentality and deliver beyond what is required in
                        <br>
                        every project entrusted to us.</p>
                </div>
                <div class="grid__projects">
                    <div class="row">
                        <div class="col-md-6 px-1">
                            <img class="img-fluid" src="img/Portofolio-TRYS-1.png" alt="projects">
                        </div>
                        <div class="col-md-6 px-1">
                            <img class="img-fluid" src="img/Portofolio-TRYS-2.png" alt="projects">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 px-1 py-2">
                            <img class="img-fluid" src="img/Portofolio-TRYS-3.png" alt="projects">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 px-1">
                            <img class="img-fluid" src="img/Portofolio TRYS - Digimap 2.png" alt="projects">
                        </div>
                        <div class="col-md-4 px-1">
                            <img class="img-fluid" src="img/Portofolio-TRYS-5a.png" alt="projects">
                        </div>
                        <div class="col-md-4 px-1">
                            <img class="img-fluid" src="img/Portofolio TRYS - Pepero 1.png" alt="projects">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section__aboutus">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrapper__cta">
                            <h3 class="heading">
                                WHO WE ARE
                            </h3>
                            <h2 class="section__aboutus--title">
                                Anything is possible
                                <br>
                                Such is the beauty of the
                                <br>
                                digital word
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrapper__client">
                            <p>We are part of
                                <strong>
                                    ASVVINDRA
                                </strong>
                                Group.
                                <br>
                                Our collaboration with a diverse group of experts
                                <br>
                                put us in a better position to serve your growing needs.
                            </p>
                            <div class="wrapper__client--logo">
                                <div class="row">
                                    <div class="col-md-4"><img src="img/logo.png" alt="client-logo"></div>
                                    <div class="col-md-8"><img src="img/orvyn.png" alt="client-logo"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="py-4 px-3" src="img/gluvia.png" alt="client-logo">
                                    </div>
                                    <div class="col-md-8">
                                        <img class="p-4" src="img/hepi.inc.png" alt="client-logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section__achievement">
            <div class="container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6 img--achievement">
                                    <img class="img-fluid" src="img/achievement1.png" alt="achievement">
                                </div>
                                <div class="col-6">
                                    <div class="wrapper__cta">
                                        <h3 class="heading">
                                            OUR ACHIEVEMENT
                                        </h3>
                                        <h2 class="section__achievement--title">
                                            THE BEST
                                            <br>
                                            <span>
                                                DIGITAL CUSTOMER
                                                <br>
                                                SERVICE 2019
                                            </span>
                                        </h2>
                                        <p>(IN AUTOMOTIVE INDUSTRY)</p>
                                        <img class="img-fluid" src="img/wuling.png" alt="achievement">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6 img--achievement">
                                    <img class="img-fluid" src="img/achievement1.png" alt="achievement">
                                </div>
                                <div class="col-6">
                                    <div class="wrapper__cta">
                                        <h3 class="heading">
                                            OUR ACHIEVEMENT
                                        </h3>
                                        <h2 class="section__achievement--title">
                                            THE BEST
                                            <br>
                                            <span>
                                                DIGITAL CUSTOMER
                                                <br>
                                                SERVICE 2019
                                            </span>
                                        </h2>
                                        <p>(IN AUTOMOTIVE INDUSTRY)</p>
                                        <img class="img-fluid" src="img/wuling.png" alt="achievement">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6 img--achievement">
                                    <img class="img-fluid" src="img/achievement1.png" alt="achievement">
                                </div>
                                <div class="col-6">
                                    <div class="wrapper__cta">
                                        <h3 class="heading">
                                            OUR ACHIEVEMENT
                                        </h3>
                                        <h2 class="section__achievement--title">
                                            THE BEST
                                            <br>
                                            <span>
                                                DIGITAL CUSTOMER
                                                <br>
                                                SERVICE 2019
                                            </span>
                                        </h2>
                                        <p>(IN AUTOMOTIVE INDUSTRY)</p>
                                        <img class="img-fluid" src="img/wuling.png" alt="achievement">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="0.417in"
                            height="0.667in">
                            <image
                                x="0px"
                                y="0px"
                                width="20px"
                                height="38px"
                                xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAwCAQAAACsnwJvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflBwIUACnL6afKAAABkUlEQVRIx6XWzyuEQRjA8cf60SaSqN09OEkKFxf5C/bqpFWunDi6O0hy4Sa1RZvkQC7KQZIctCUHR3LhQPbsV5Svw0vvj2f2fefdeeawO+/Mp3mbd+aZESRVKVLDiyq5dHSCV/xYSUMn+SAYJxmxjZLsSDb05MF21Gm+CEeNYTs6y3eEPjGO2NA5fiL0mTHEBs8TjUdGvbYkuqDoPSP/rfF0UdE7Bv32OLpkoAPBHvXpsqI39If7mGETa4pe0RftZ6abBlrQPTXNUFb0krzpDaMPWtlW9JRe87yEq23sKXpMV71JDVayHBhoR/2P6f9tN9DDOOrjTo4U3SUbv3i9n27OFK3QnLRpBKGHc0W3aEncbyIUuFB0I3lUD1cUXbWBCJIRrFOgDvIur+00YY6fynGROC5Px43huCUFp2QgOKUhwSkBenzdwK1Sr1caTvpe0cfNre1xIzgddILTESs4He6C07VCEGYav9AI5qvUkC0WSnxGeNkeC5O8h3CK66PIvkzJW6B+nWZkQSjy8jduldwvS/DgRVmSETQAAAAASUVORK5CYII="/>
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="0.417in"
                            height="0.667in">
                            <image
                                x="0px"
                                y="0px"
                                width="20px"
                                height="38px"
                                xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAwCAQAAACsnwJvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflBwITOiXiuSMdAAABZElEQVRIx7XWvyvEcRzH8Zc7dOkkUe4Gky6FxSJ/gdWkU1YmRrtBkoVN6oouyUAWZZAkg5QMRrIwkJv9ivI0GO7c51Pe3955fedHffp+v5/X+y26OOcnFUZQkkcsUs0zo8nwIbV5Y8yOU7pTbTLaVFHW0E+F3/lgwnpsMcxDHf9kyorFEI91/ItpKxaD3FOfGSsWA9wGfNaKRS83AZ+zYlGI8HkrFj1cBXzBikU3FwFfpsGGRT7C12I8fqAcZwEvkbJh0clRwDdosmHRxkHAt2m2YZGN8F0yNiyy7EV4iw2LDFsB36fVhkWacsCPabdh0ch6wE/osGGRZjXgp+RtWIilgJdT5rKL1J/n2Ll/fmGOT+X4SRy/p+NiOK6kowwcNeQowFj1rtiq11H6Ba4Dahw3jkHnGLGO4e5YK2ILzeTfFIk+zypVqqPvFG00XB9fk62PlzV9+KJx7STpz+rK/JR0Zf4GQVngRWRXyA8AAAAASUVORK5CYII="/>
                        </svg>
                    </div>

                </div>
            </div>
        </section>

        <section class="section__ourservice">
            <div class="container">
                <h3 class="heading">OUR SERVICES</h3>
                <h2 class="section__ourservice--title">
                    AS A FULL-SERVICE AGENCY, OUR WORK COVERS EVERYTHING FROM MARKET
                    <br>
                    ANALYSIS, BRAND IDENTITY, ADVERTISING, AND CONTENT CREATION.
                </h2>
                <div class="wrapper__service">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="img/digital-strategy.png" width="70px" alt="service">
                            <p class="desc">
                                Digital Strategy
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/social-media.png" width="60px" alt="service">
                            <p class="desc">
                                Social Media
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/website-app.png" width="148px" alt="service">
                            <p class="desc">
                                Website & App
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/paidmedia.png" width="102px" alt="service">
                            <p class="desc">
                                Paid Media
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section__brainchild">
            <div class="container">
                <h2 class="section__brainchild--title">
                    THAT SAID, WE HAVE BRAINCHILDS OF OUR OWN
                    <br>
                    THAT CATER TO MORE SPECIALIZED NICHES.
                </h2>
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/digibuz.png" width="100px" alt="brand-logo">
                        <p class="brand--desc">
                            We amplify brand awarness by
                            <br>
                            allying with opinion leaders
                        </p>
                        <a href="#" class="btn btn--brand">Find Out More</a>
                    </div>
                    <div class="col-md-6">
                        <img src="img/digicare.png" width="100px" alt="brand-logo">
                        <p class="brand--desc">
                            We provide highly-responsive
                            <br>
                            consumer care in the digital age
                        </p>
                        <a href="#" class="btn btn--brand">Find Out More</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section__ourclient">
            <div class="container">

                <h3 class="heading">OUR CLIENTS</h3>
                <h2 class="section__ourclient--title">
                    ALL THOSE WHO TRUST US
                </h2>
                <div class="wrapper__ourclient">
                    <div class="row">
                        <div class="col">
                            <img src="img/client-wuling.png" class="px-4" alt="our client">
                            <img src="img/client-julies.png" class="px-4" alt="our client">
                            <img src="img/client-pokka.png" class="px-4" alt="our client">
                            <img src="img/client-darlie.png" class="px-4" alt="our client">
                            <img src="img/client-pepero.png" class="px-4" alt="our client">
                            <img src="img/client-imbost.png" class="px-4" alt="our client">
                            <img src="img/client-kalbe.png" class="px-4" alt="our client">
                            <img src="img/client-pegadaian.png" class="px-4" alt="our client">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="img/client-wuling.png" class="px-4" alt="our client">
                            <img src="img/client-julies.png" class="px-4" alt="our client">
                            <img src="img/client-pokka.png" class="px-4" alt="our client">
                            <img src="img/client-darlie.png" class="px-4" alt="our client">
                            <img src="img/client-pepero.png" class="px-4" alt="our client">
                            <img src="img/client-imbost.png" class="px-4" alt="our client">
                            <img src="img/client-kalbe.png" class="px-4" alt="our client">
                            <img src="img/client-pegadaian.png" class="px-4" alt="our client">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="img/client-wuling.png" class="px-4" alt="our client">
                            <img src="img/client-julies.png" class="px-4" alt="our client">
                            <img src="img/client-pokka.png" class="px-4" alt="our client">
                            <img src="img/client-darlie.png" class="px-4" alt="our client">
                            <img src="img/client-pepero.png" class="px-4" alt="our client">
                            <img src="img/client-imbost.png" class="px-4" alt="our client">
                            <img src="img/client-kalbe.png" class="px-4" alt="our client">
                            <img src="img/client-pegadaian.png" class="px-4" alt="our client">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="img/client-wuling.png" class="px-4" alt="our client">
                            <img src="img/client-julies.png" class="px-4" alt="our client">
                            <img src="img/client-pokka.png" class="px-4" alt="our client">
                            <img src="img/client-darlie.png" class="px-4" alt="our client">
                            <img src="img/client-pepero.png" class="px-4" alt="our client">
                            <img src="img/client-imbost.png" class="px-4" alt="our client">
                            <img src="img/client-kalbe.png" class="px-4" alt="our client">
                            <img src="img/client-pegadaian.png" class="px-4" alt="our client">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="section__contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="item--contact">
                            <h2 class="title">CONTACT</h2>
                            <p class="contact">info@Trys.co</p>
                        </div>
                        <div class="item--findus">
                            <h2 class="title">
                                FIND US
                            </h2>
                            <p class="address">
                                <span>PT TRIYASA KREASI BERSAMA</span>,<br>
                                Senayan Trade Centre (STC)
                                <br>
                                Lt.5 Unit 33
                                <br>
                                Jakarta Selatan</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title--form">
                            WHAT KIND OF DIGITAL EXPERIENCE
                            <br>
                            DO YOU WISH TO CREATE?
                            <span>LET'S TALK</span>
                        </h2>
                        <div class="box__form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control custom--form" placeholder="Your Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control custom--form" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control custom--form" placeholder="Message">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn--form">submit</a>

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}{% endblock %}