{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block content %}
    <main class="page">
        <section class="pendaftaran">
            <div class="app-container">

                <div class="pendaftaran__wrapper-jalur">
                    <h1 class="pendaftaran__title">
                        Informasi
                        <span>Pendaftaran</span>
                    </h1>

                    <div class="pendaftaran__wrapper-jalur__card">
                        <div class="pendaftaran__card">
                            <!-- <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan"> -->
                            <i class="fa fa-graduation-cap fa-3x" style="color:#0372c1" ></i>
                            <h2 class="pendaftaran__card__title">Jalur Reguler</h2>
                            <p class="pendaftaran__card__desc">Jalur Penerimaan Santri Baru Berdasarkan
                                Hasil Ujian Tes Al-Qur’an, Tes Potensi Akademik, Wawancara Orang Tua dan
                                Wawancara Calon Santri.</p>
                        </div>
                        <div class="pendaftaran__card">
                            <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                            <h2 class="pendaftaran__card__title">Jalur Prestasi Akademik </h2>
                            <p class="pendaftaran__card__desc">
                                Jalur Prestasi 
                                Akademik adalah Jalur penerimaan santri baru dengan seleksi berdasarkan prestasi
                                akademik yang resmi diselenggarakan oleh pemerintah. Prestasi yang dimaksud
                                adalah pernah mendapat juara akademik atau Olimpiade / Kompetisi Sains Juara I,
                                II, dan III di tingkat kabupaten/kota. Juara 1 sd juara 5 tingkat Provinsi,
                                Finalis Juara Nasional atau minimal medali perunggu di tingkat Internasional.
                                Dibuktikan dengan sertifikat,piagam penghargaan atau surat keterangan.
                                
                            </p>
                        </div>
                        <div class="pendaftaran__card">
                            <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                            <h2 class="pendaftaran__card__title">Jalur Prestasi Tahfidz</h2>
                            <p class="pendaftaran__card__desc">
                        
                                Jalur Prestasi Tahfizh adalah Jalur penerimaan Santri Baru dengan seleksi
                                berdasarkan prestasi hafalan Al-Qur’an minimal mempunyai hapalan 3 Juz yang
                                dibuktikan dengan sertifikat, piagam penghargaan atau surat keterangan. JALUR
                                INDENT TA.2023 - 2024 Jalur Inden adalah Jalur penerimaan Santri Baru dengan
                                mekanisme tes seleksi satu tahun lebih awal dari tahun ajaran 2022-2023. Calon
                                peserta pada jalur Inden ini dikhususkan untuk murid kelas V SD pada tahun
                                Ajaran 2021- 2022.
                                
                            </p>
                        </div>
                        <div class="pendaftaran__card">
                            <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                            <h2 class="pendaftaran__card__title">Jalur Inden</h2>
                            <p class="pendaftaran__card__desc">Jalur Inden adalah Jalur penerimaan Santri
                                Baru dengan mekanisme tes seleksi satu tahun lebih awal dari tahun ajaran
                                2022-2023. Calon peserta pada jalur Inden ini dikhususkan untuk murid kelas V SD
                                pada tahun Ajaran 2021- 2022.</p>
                        </div>
                    </div>
                </div>

                <div class="pendaftaran__wrapper-alur">
                    <h1 class="pendaftaran__title">
                        Alur
                        <span>Pendaftaran</span>
                    </h1>
                    <div class="pendaftaran__wrapper-alur__card">

                        <div class="swiper-container-alur-pendaftaran">

                            <div class="swiper-wrapper">

                                <div class="swiper-slide">

                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">1. Daftar Akun</h2>
                                        <p class="pendaftaran__card__desc">Selesai mendaftar, pendaftar akan menerima notifikasi whatsapp.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">2. Isi Formulir Pendaftaran</h2>
                                        <p class="pendaftaran__card__desc">Isi dan lengkapi isi formulir pendaftaran.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">3. Pembayaran</h2>
                                        <p class="pendaftaran__card__desc">Lakukan pembayaran sesuai nominal dan nomer rekening yang tertera.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">4. Cetak Kartu</h2>
                                        <p class="pendaftaran__card__desc">Lakukan cetak kartu dan simpan sebagai bukti
                                            saat test, Untuk jadwal test sesuai dengan yang ada di kartu pendaftaran. STEP 5
                                            - SELEKSI.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">5. Seleksi</h2>
                                        <p class="pendaftaran__card__desc">Proses Tes Potensi Akademik dilakukan secara
                                            Online (CBT), Tes Al-Quran, Wawancara Santri dan Wawancara Orang tua
                                            dilaksanakan secara Ofline dan Online (Pilih Jadwal).</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">6. Kelulusan</h2>
                                        <p class="pendaftaran__card__desc">Informasi kelulusan akan diumumkan 1 pekan
                                            setelah seleksi dan akan diinformasikan melalui Whastapp dan Email.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">7. Isi Biodata & Upload Berkas</h2>
                                        <p class="pendaftaran__card__desc">Lengkapi biodata santri dan orang tua guna pendataan.</p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="pendaftaran__card">
                                        <img src="https://orvyn.segeralive.com/img/branding.png" alt="keunggulan">
                                        <h2 class="pendaftaran__card__title">8. Cetak Surat Kelulusan</h2>
                                        <p class="pendaftaran__card__desc">Sebagai bukti pembayaran Investasi Biaya Pendidikan.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="wrapper__pagination">
                                <div class="swiper-button-prev-alur">
                                    <i class="fas fa-angle-left fa-lg"></i>
                                </div>

                                <div class="swiper-pagination-alur"></div>

                              
                                <div class="swiper-button-next-alur">
                                    <i class="fas fa-angle-right fa-lg"></i>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}

{% block scripts %}{% endblock %}