body {
    background-color: #000000;
    font-family: 'Yantrapamap', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding-top: 6.5rem;
}

.section__home {

    &--wrapper--title {
        min-height: 80vh;
        display: flex;
        align-items: center;
        // justify-content: center;
        @media(min-width:992px) {
            padding-left: 9rem;
            // padding-right: 8rem;
        }
    }

    &--title {
        // color: #fff;
        color: #000;
        font-weight: 700;
        font-size: 70px;
        -webkit-text-stroke: 2px;
        text-transform: uppercase;
        //   letter-spacing: 6pt;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        span:first-child {
            animation: blurFadeIn 6s ease-in 2s infinite;
        }
        span:nth-child(2) {
            animation: blurFadeInBlue 6s ease-in 3s infinite;
        }
        span:nth-child(3) {
            animation: blurFadeIn 6s ease-in 3.5s infinite;
        }
        span:nth-child(5) {
            animation: blurFadeIn 6s ease-in 4s infinite;
        }
        span:nth-child(6) {
            animation: blurFadeIn 6s ease-in 4.5s infinite;
        }
        span:nth-child(7) {
            animation: blurFadeIn 6s ease-in 5s infinite;
        }
        span:nth-child(8) {
            animation: blurFadeIn 6s ease-in 5.5s infinite;
        }
        @keyframes blurFadeIn {
            0% {
                color: #fff;
            }
            50% {
                color: #fff;
            }
            75% {
                color: #000;
            }
            100% {
                color: #fff;
            }
        }
        @keyframes blurFadeInBlue {
            0% {
                color: #034bf6;
                text-shadow: -1px -1px 0 #034bf6, 1px -1px 0 #034bf6, -1px 1px 0 #034bf6, 1px 1px 0 #034bf6;
            }
            50% {
                color: #034bf6;
                text-shadow: -1px -1px 0 #034bf6, 1px -1px 0 #034bf6, -1px 1px 0 #034bf6, 1px 1px 0 #034bf6;
            }
            75% {
                color: #000;
            }
            100% {
                color: #034bf6;
                text-shadow: -1px -1px 0 #034bf6, 1px -1px 0 #034bf6, -1px 1px 0 #034bf6, 1px 1px 0 #034bf6;
            }
        }

    }
    &--desc {
        color: #fff;
        font-weight: 800;
        font-size: 10px;
        position: relative;
        padding-left: 10px;
        animation: blurFadeInDesc 4s ease-in 2s infinite;
        span:first-child {
            position: absolute;
            left: -10px;
            bottom: 1px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            animation: blurFadeInDesc 4s ease-in 2s infinite;
            background-color: #caff01;
        }
        // border-bottom: 1px solid #fff;
        span {
            font-weight: normal;
        }
        @keyframes blurFadeInDesc {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            75% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

    }
}

.section__projects {
    min-height: 100vh;
    padding-top: 8rem;
    padding-bottom: 3rem;

    &--wrapper {
        @media(min-width:992px) {
            padding-left: 10rem;
            // padding-right: 8rem;
        }
        margin-bottom: 4rem;

        p {
            color: white;
            font-weight: 500;
            font-size: 12px;
        }
    }

    &--title {
        position: relative;
        font-weight: 800;
        font-size: 60px;
        color: transparent;
        -webkit-text-stroke: 2px #fff;

        &::after {
            content: '';
            position: absolute;
            left: 295px;
            bottom: 15px;
            width: 10px;
            height: 9px;
            background-color: #004df9;
        }

    }
}

.section__aboutus {
    padding-top: 90px;
    padding-bottom: 140px;
    .wrapper__cta {
        @media(min-width:640px) {
            padding-left: 8rem;
        }
    }
    // &--title {
    //     color: #004df9;
    //     font-weight: 800;
    //     font-size: 18px;
    //     justify-content: center;
    //     margin-bottom: 10px;
    // }
    &--title {
        color: #fff;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.2;
        // justify-content: center;
    }

    .wrapper__client {

        p {
            color: #fff;
            font-size: 14px;
            margin-bottom: 25px;
        }
        &--logo {
            img {
                max-width: 120px;
            }
        }
    }
}

.section__achievement {

    .swiper-container {
        .swiper-button-prev {
            position: absolute;
            top: 120px;
            left: 0;
            z-index: 99;
            color: #fff;
        }
        .swiper-button-next {
            position: absolute;
            z-index: 99;
            color: #fff;
            top: 120px;
            right: 0;

        }
    }

    .img--achievement {
        @media(min-width:992px) {
            padding-left: 9rem;
            // padding-right: 8rem;
        }
        img {
            max-width: 220px;
        }
    }

    &--title {
        color: #fff;
        font-weight: 800;
        font-size: 38px;
        // line-height: 1.2;
        -webkit-text-stroke: 2px;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #fff;

        }
    }

    .wrapper__cta {
        p {
            color: #fff;
            font-size: 13px;
        }
        img {
            max-width: 155px;
        }
    }
}

.section__ourservice {
    padding-top: 130px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--title {
        font-weight: 800;
        color: #fff;
        font-size: 24px;
    }

    .wrapper__service {
        padding: 50px 0;

        .desc {
            color: #fff;
            margin-top: 20px;
            font-weight: 700;
            font-size: 17px;
        }
    }
}

.section__brainchild {
    background-color: #004df9;
    padding: 10vh 0;

    &--title {
        font-weight: 800;
        color: #fff;
        font-size: 24px;
        text-align: center;
        margin-bottom: 35px;
    }

    .brand--desc {
        color: #fff;
        font-size: 16px;
        padding-top: 10px;
    }
    .col-md-6:nth-child(1) {
        @media(min-width:640px) {
            padding-left: 85px;
        }
    }
}

.section__ourclient {

    padding: 100px 0;
    text-align: center;

    &--title {
        font-weight: 800;
        color: #fff;
        font-size: 24px;
    }
    .wrapper__ourclient {
        padding-top: 30px;
        @media(min-width: 640px) {
            padding-left: 20px;
        }
        .row {
            padding: 25px 0;
        }
    }
}

.section__contact {
    padding-top: 20px;
    padding-bottom: 210px;
    @media(min-width: 640px) {
        .container {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    color: #fff;

    .item--contact {
        padding-bottom: 40px;
    }

    .title {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .contact {
        font-size: 15px;
    }

    .address {
        font-size: 15px;
        span {
            font-weight: 800;
        }
    }

    .title--form {
        font-weight: 800;
        -webkit-text-stroke: 2px;
        font-size: 30px;
        line-height: 44px;
        span {
            color: transparent;
            -webkit-text-stroke: 1px #fff;

        }
    }

    .box__form {
        padding-top: 30px;
        .custom--form {
            background-color: transparent;
            text-align: center;
            font-weight: 700;
            border-radius: 7px;
        }
        .col-12 {
            input {
                height: 130px;
                margin: 20px 0;
            }
        }
    }
}
