.footer {
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    .wrapper__footer{
        display: flex;
        justify-content: space-between;
        
    }
}