.navbar--custom {
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
    z-index: 99;
    &.is-scrolled {
        transform: translateY(-100%);
    }
    background-color: #000000;
    .navbar-nav {
        .nav-link {
            color: white;
            font-size: 13px;
            transition: all .3s ease-in-out;
            @media(max-width:640px){
                padding: 15px 0px;
            }

            // font-weight: 800;
            &:hover {
                color: #004df9;
            }
           
            &:active {
                color: #004df9;
            }

            &:focus {
                color: #004df9;
            }

            svg {
                &:hover {
                    fill: #004df9;
                }
                &:active {
                    fill: #004df9;
                }
                &:focus {
                    fill: #004df9;
                }
            }

            @media(min-width: 992px) {
                padding-right: 1.1rem;
                padding-left: 1.1rem;
            }

            .logo-ig {
                max-width: 20px;
            }
        }
    }
    .navbar-brand {
        img{
            max-width: 100px;
        }
    }
}

.navbar-nav{
    @media(max-width:640px){
        padding: 20px;
    }
}