.section__excellence {
    padding-bottom: 80px;
    background-image: url('../img/bg-pattern1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: inherit;
    @media(min-width: 640px) {
        background-position: inherit;
        padding: 100px 0;
    }

    .app-container {
        .swiper-container {
            overflow: visible;

        }

        .wrapper__pagination {
            display: flex;
            padding-top: 25px;
            align-items: center;
           justify-content: center; 
           
           @media(min-width: 640px) {
                justify-content: flex-start; 

            }
        }

        .swiper-pagination-exellence {
           margin: 0 20px;
            
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }
            .swiper-pagination-bullet-active {
                background-color: #c03f94;
            }
        }

        .swiper-button-next-exellence,
        .swiper-button-prev-exellence {
            cursor: pointer;
            color: #c03f94;
            box-shadow: 4px 7px 14px rgba(0, 0, 0, 0.06);
            background-color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                content: none;
            }
        }

        .swiper-button-next-exellence {
            &.swiper-button-disabled {
                background-color: rgb(242, 242, 242);
                box-shadow: none;
                filter: grayscale(1);
                opacity: .3;
                cursor: not-allowed;
                pointer-events: inherit;
            }
        }

        .swiper-button-prev-exellence {
            &.swiper-button-disabled {
                background-color: rgb(242, 242, 242);
                box-shadow: none;
                filter: grayscale(1);
                opacity: .3;
                cursor: not-allowed;
                pointer-events: inherit;


            }
            
        }
    }
    &--title {
        font-size: 27px;
        color: #333d47;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 25px;
        @media (min-width: 640px) {
            font-size: 50px;
            margin-bottom: 50px;
        }
        span {
            color: #c03f94;
            @media (min-width: 640px) {
                // font-size: 30px;
            }
        }
    }
    .wrapper__content {

        // display: grid;
        // grid-template-columns: auto;
        // grid-gap: 20px;
        // @media (min-width:640px) {
        //     grid-template-columns: auto auto;
        // }
        // @media (min-width:964px) {
        //     grid-template-columns: auto auto auto auto;
        //     grid-gap: 40px;
        // }
        .box__content {
            cursor: grab;
            min-height: 470px;
            @media(min-width:640px) {
                min-height: 425px;
            }
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            background-color: #fff;
            padding: 20px;
            transition: all 0.3s ease-in-out;
        box-shadow: 0 26px 32px rgba(26, 36, 72, .05);
            
            &:hover {
                // background-color: #e8e8e8;
                // transform: translateY(-20px);
            }
            .title {
                font-weight: 700;
            }
            .desc {
                line-height: 24px;
                font-size: 19px;
                letter-spacing: 0.4px;
            }
        }
    }
}
