.testimoni {
    background-image: url('../img/bg-circle1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    overflow: hidden;
    @media(min-width:640px) {
        min-height: 100vh;
        padding-bottom: 0;
    }


   &__wrapper-card {
       @media(min-width:640px) {
           padding-top: 50px;
       }
   }

    &__title {
            padding-top: 15px;
            font-size: 27px;
            color: #333d47;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 15px;
            @media (min-width: 640px) {
                font-size: 50px;
                padding-top: unset;
            }
            span {
                color: #c03f94;
            }

    }

    &__card {
        border-radius: 10px;
        border: 1px solid #e8e8e8;
        background-color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 520px;
        box-shadow: 0 26px 32px rgba(26, 36, 72, .05);

        &__desc {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.4px;
            text-align: center;
        }

        &__image {
            max-width: 80px;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &__education {
            line-height: 20px;
            letter-spacing: 0.4px;
            text-align: center;
            display: block;
        }
    }
}